<div class="side-bar-header">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new-chat"><a href="#">チャットを作成する</a>
  </div>
</div>

<div class="groups">
  <div class="group">
    <div class="group-name"><a href="#">Group 1</a>
    </div>
  </div>
  <div class="group">
    <div class="group-name"><a href="#">Group 2</a>
    </div>
  </div>
</div>
